{cover_enabled,          true}.
{cover_export_enabled,   true}.
{cover_print_enabled,    true}.
{ct_dir,                 "integration_tests"}.
{ct_log_dir,             "integration_tests/logs"}.
{plugin_dir,             "deps/coveralls/src"}.
{coveralls_coverdata,    ".eunit/cover.coverdata"}.
{coveralls_service_name, "travis-ci"}.
{deps, [
  {hackney,   ".*", {git, "git://github.com/benoitc/hackney.git",       {tag, "1.0.4"}}},
  {jsonerl,   ".*", {git, "git://github.com/lambder/jsonerl.git",       {branch, "master"}}},
  {meck,      ".*", {git, "git://github.com/eproxus/meck.git",          {tag, "0.8.4"}}},
  {coveralls, ".*", {git, "git://github.com/markusn/coveralls-erl.git", {branch, "master"}}}
]}.
